// colors
$primary-color: #242730;
$secondary-color: #000;
$white-color:#fff;
$primary-bg-color:#1BA9E3;
$secondary-bg-color:#F4F4F4;
$title-color:#242730;
$mini-bg-color:#f4f4f4;

// font-sizes
$font-20: 20px;
$base: 4px;
$padding-20:20px;
$margin-20:20px;

//font-weight
$font-weight-100 :100px;

//font-family
$primary-font-family:'Roboto',
sans-serif;